SetEnv APP_NAME Oriented-Dating
SetEnv baseURL orienteddating-api.test
SetEnv COMBINATION 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
SetEnv APP_EMAIL no-reply@test.com
SetEnv COY_EMAIL contact@test.com


<Files "*.php">
    Require ip 127.0.0.1
</Files>

<Files "index.php">
    Require all granted
</Files>

RewriteEngine On
#Remove the comments to force https, you must have an SSL certificate.
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

#Enable HTTP Authorization Header if you use php-cgi 
# $_SERVER["HTTP_AUTHORIZATION"]
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteBase /mini-project/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]